:root{

    --onehour: calc(((95vh - 50px) / 15) * 1);
    --twohour: calc(((95vh - 50px) / 15) * 2);
    --threehour: calc(((95vh - 50px) / 15) * 3);
    --fourhour: calc(((95vh - 50px) / 15) * 4);
    --halfday: calc(((95vh - 50px) / 15) * 7);

    --o8am:0px;
    --o9am:calc((95vh - 50px) / 15);
    --o10am: calc(((95vh - 50px) / 15) * 2);
    --o11am: calc(((95vh - 50px) / 15) * 3);
    --o12pm: calc(((95vh - 50px) / 15) * 4);
    --o1pm: calc(((95vh - 50px) / 15) * 5);
    --o2pm: calc(((95vh - 50px) / 15) * 6);
    --o3pm: calc(((95vh - 50px) / 15) * 7);
    --o4pm: calc(((95vh - 50px) / 15) * 8);
    --o5pm: calc(((95vh - 50px) / 15) * 9);
    --o6pm: calc(((95vh - 50px) / 15) * 10);
    --o7pm: calc(((95vh - 50px) / 15) * 11);
    --o8pm: calc(((95vh - 50px) / 15) * 12);
    --o9pm: calc(((95vh - 50px) / 15) * 13);
    --o10pm: calc(((95vh - 50px) / 15) * 14);
        
    
}



*, *::after, *::before{
    margin: 0px;
    box-sizing: border-box;
    //border: 1px solid red;
    font-family: sans-serif;
    
    text-align: center;
}
body{
    height: 100vh;
    width: 100vw;
    background: #19191a;

    display: grid;
    place-items: center;


    

    .container{
        height: 95vh;
        width: 95vw;
       
        .header{
            display:grid;
            grid-template-columns: 1.2fr .1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            gap: 1vw;
            margin-bottom: 10px;
        


        #head{
            //border: 1px dashed red;
            display: grid;
            place-items: center;
            background: black;
            color: white;
            height: 50px;
            text-transform: capitalize;
            font-weight: 600;
            border-radius: 15px ;
            

            &:first-child{
                border-radius: 15px ;
                border: none;
            }
            
            &:nth-child(2){

                background: transparent;
                border: none;
            }
            
        }
        }

        .data{
            display:grid;
            grid-template-columns: 1.2fr 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            gap: 1vw;
            margin-top: 20px;

            .body{
                --color:rgba(0, 0, 0, 0.466);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                background: var(--color);
                height: calc(95vh - 50px);
                border-radius: 15px;
                

                color: black;
                &:nth-child(even){
                    background: rgba(0, 0, 0, 0.199);
                }
                &:nth-child(2){
                    background: #19191a;
                }
                
                
            }
            #time-container{
                color: white;
                border-radius: 15px ;

                & > div {
                    border-bottom:  1px dashed rgba(255, 255, 255, 0.219);
                    display: grid;
                    place-items: center;
                     p{
                         padding-bottom: 20px;
                     }
                }

                .last{
                    border: none;
                    p{
                        padding: 0px; 
                    }
                }

                
            
            }


        }
    }
}





// here goes the styling for the individual blocks
.body{
    position: relative;
}


.tags{
    width: 100%;
    border-radius: 15px;
    display: grid;
    place-items: center;
    position: absolute;
    transition: all .5s ease-in-out;
   

    .bg{
        position:absolute;
        background: url('/img/pattern_base.svg');
        opacity:0;
        border-radius: 12px;
        height: 100%;
        width: 100%;
    }

    p{
        color: white;
        text-shadow: 0px 0px 3px rgb(0, 0, 0);
        font-weight: 600;
        transition: all .5s ease-in-out;
        z-index: 5;
    }


    &.tags:hover, &.tags:checked,&.tags:active{
        cursor:cell;
        border: 4px solid rgb(245, 245, 245);
        box-shadow: 0 0 10px white;          
        .bg{
            opacity: 1;
        }
        
        p{
            text-shadow: -8px 8px 5px rgb(0, 0, 0);
            transform: translateY(-8px);
        }
    }


}




.sandm-thu{
    height: var(--threehour);
    background: linear-gradient(to right, #5D26C1, #a15fe0, #59C153) ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    top:var(--o2pm) ;  

    &:hover{

        .bg{
            background: url('/img/sandm.png');
            background-size: cover;
        }
    }
}

.coding-mon , .coding-tue {
    height: var(--fourhour);
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    &.coding-mon{top: var(--o8am);}
    &.coding-tue{top: var(--o7pm);}
    
    &:hover{

        .bg{
            background: url('/img/code.png');
            background-size: cover;
        }
    }

}

.other-wed{
    height: var(--halfday);
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: var(--o4pm);

    &:hover{

        .bg{
            background: url('/img/other.png');
            background-size: cover;
        }
    }
}
.yt-mon, .yt-tue  {
    height: var(--fourhour);
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    &.yt-mon{top: var(--o7pm);}
    &.yt-tue{top: var(--o8am);}
    &:hover{

        .bg{
            background: url('/img/yt.png');
            background-size: cover;
        }
    }
}

.vixi-mon, .vixi-wed ,  .vixi-sat  {
    height: var(--twohour);
    background: linear-gradient(to right, #240b36, #c31432); 
    &.vixi-mon {top: var(--o1pm);}
    &.vixi-wed {top: var(--o8am);}

    &:hover{

        .bg{
            background: url('/img/viximate.png');
            background-size: cover;
        }
    }
}
.pt-wed{
    height: var(--threehour);
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
    &.pt-wed{top: var(--o12pm);}
    &:hover{

        .bg{
            background: url('/img/pentesting.png');
            background-size: cover;
        }
    }
}
.study-tue, .study-fri {
    height: var(--threehour);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    &.study-tue{top: var(--o3pm);}
    &.study-fri{top: var(--o1pm);}
    &:hover{

        .bg{
            background: url('/img/study.png');
            background-size: cover;
        }
    }

    
}

@media only screen and (orientation:portrait) {
    body {
      height: 100vw;
      transform: rotate(90deg);
    }
  }



